 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 34px auto 0;
}

.u-section-1 .u-image-1 {
  width: 372px;
  height: 360px;
  margin: 37px auto 0 130px;
}

.u-section-1 .u-image-2 {
  width: 372px;
  height: 360px;
  margin: -360px 130px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 50px auto 0 130px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -152px 245px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: 30px 245px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: -20px 245px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -17px;
    margin-right: auto;
    margin-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
    width: 235px;
    margin-top: 41px;
  }

  .u-section-1 .u-image-2 {
    height: 247px;
    width: 242px;
    margin-top: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -125px;
  }
}